{% extends "base/base.html" %}
{% load static %}

{% block title %}Взрослые{% endblock %}

{% block content %}
<!--breadcrumbs-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: #007ffe;">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'calendar_list' %}" style="color: #007ffe;">Список
                    календарей</a></li>
                <li class="breadcrumb-item"><a href="{% url 'nat_calendar' %}" style="color: #007ffe;">НК</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'categories' %}" style="color: #007ffe;">Категории граждан</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Взрослые</li>
            </ol>
        </nav>
    </div>
</nav>
<!--end breadcrumbs-->
<main class="ms-3 my-3 me-3">
    {% for adult in adults %}
    <div class="row">
        <div class="col-4">
            <div class="list-group list-group-light" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action px-3 border-0" id="list-home-list"
                   data-mdb-toggle="list" href="#list-home" role="tab" aria-controls="list-home">{{ adult.age }}</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                     aria-labelledby="list-home-list">
                    {% if adult.age_description != "" %}
                    <b>Описание возрастной категории:</b>
                    <br>
                    {{ adult.age_description }}
                    <br>
                    <br>
                    {% endif %}
                    {% if adult.risk_description != "" %}
                    <b>Описание группы риска:</b>
                    <br>
                    {{ adult.risk_description }}
                    <br>
                    <br>
                    {% endif %}
                    {% if adult.first_vaccin_one != None %}
                    <b>Первая вакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.first_vaccin_one }}</li>
                        {% if adult.first_vaccin_two != None %}
                            <li>{{ adult.first_vaccin_two }}</li>
                            {% if adult.first_vaccin_three != None %}
                                <li>{{ adult.first_vaccin_three }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.second_vaccin_one != None %}
                    <b>Вторая вакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.second_vaccin_one }}</li>
                        {% if adult.second_vaccin_two != None %}
                            <li>{{ adult.second_vaccin_two }}</li>
                            {% if adult.second_vaccin_three != None %}
                                <li>{{ adult.second_vaccin_three }}</li>
                                {% if adult.second_vaccin_four != None %}
                                    <li>{{ adult.second_vaccin_four }}</li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.third_vaccin_one != None %}
                    <b>Третья вакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.third_vaccin_one }}</li>
                        {% if adult.third_vaccin_two != None %}
                            <li>{{ adult.third_vaccin_two }}</li>
                            {% if adult.third_vaccin_three != None %}
                                <li>{{ adult.third_vaccin_three }}</li>
                                {% if adult.third_vaccin_four != None %}
                                    <li>{{ adult.third_vaccin_four }}</li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.third_vaccin_risk != None %}
                    <b>Третья вакцинация (группы риска):</b>
                    <br>
                    <ul>
                        <li>{{ adult.third_vaccin_risk }}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.fourth_vaccin_risk != None %}
                    <b>Четвёртая вакцинация (группы риска):</b>
                    <br>
                    <ul>
                        <li>{{ adult.fourth_vaccin_risk }}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.first_revac_one != None %}
                    <b>Первая ревакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.first_revac_one }}</li>
                        {% if adult.first_revac_two != None %}
                            <li>{{ adult.first_revac_two }}</li>
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.second_revac != None %}
                    <b>Вторая ревакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.second_revac }}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.third_revac != None %}
                    <b>Третья ревакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.third_revac }}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.vaccintaion_one != None %}
                    <b>Вакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.vaccintaion_one }}</li>
                        {% if adult.vaccintaion_one_descript != "" %}
                            <em>*{{ adult.vaccintaion_one_descript }}</em>
                        {% endif %}
                        {% if adult.vaccintaion_two != None %}
                            <li>{{ adult.vaccintaion_two }}</li>
                            {% if adult.vaccintaion_three != None %}
                                <li>{{ adult.vaccintaion_three }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                    {% if adult.revaccintaion_one != None %}
                    <b>Ревакцинация:</b>
                    <br>
                    <ul>
                        <li>{{ adult.revaccintaion_one }}</li>
                        {% if adult.revaccintaion_one_descript != "" %}
                            <em>*{{ adult.revaccintaion_one_descript }}</em>
                        {% endif %}
                        {% if adult.revaccintaion_two != None %}
                            <li>{{ adult.revaccintaion_two }}</li>
                        {% endif %}
                    </ul>
                    <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</main>
{% endblock %}