{% extends "base/base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<main role="main" class="inner cover mt-auto text-center">
    <h1 style="font-size: 40px; font-weight: bold; text-color: #00caca;">
        <a href="{% url 'calendar_list' %}" style="color: #00caca;">
            Календари профилактических
            <br>
            прививок (Приказ Министерства
            <br>
            здравоохранения Российской
            <br>
            Федерации от 6 декабря 2021 г. N
            <br>
            1122н)
        </a>
    </h1>
</main>
{% endblock %}