{% extends "base/base.html" %}
{% load static %}

{% block title %}НК{% endblock %}

{% block content %}
<!--breadcrumbs-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: #007ffe;">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'calendar_list' %}" style="color: #007ffe;">Список
                    календарей</a></li>
                <li class="breadcrumb-item active" aria-current="page">НК</li>
            </ol>
        </nav>
    </div>
</nav>
<!--end breadcrumbs-->
<a href="{% url 'ages' %}" style="color: #007ffe;">Возраст граждан, подлежащих обязательной вакцинации</a>
<a href="{% url 'categories' %}" style="color: #007ffe;">Категории граждан, подлежащих обязательной вакцинации</a>
<a href="{% url 'vaccinations' %}" style="color: #007ffe;">Наименование профилактической прививки</a>
{% endblock %}